
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
    color: #333;
}

.download-section {
    background-color: #e9ecef;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 40px;
}

.download-section h2 {
    margin: 0 0 20px;
}

.download-section p {
    margin: 0 0 20px;
}


.content-descarga{
    width: 100%;
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    background: #f1f6ff;
    text-align: center;
    border: 2px solid #adcaff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
}
.descarga-ahora{
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    background: #286ef2;
    color: #fff;
    border-radius: 5px;
}
.descarga-ahora:hover{
    opacity: 0.9;
}
.btn-descarga{
    display: inline-block;
    padding: 15px 25px;
    background: #286ef2;
    color: #fff;
    border:none;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
    outline: 0px;
    cursor: pointer;
}
.btn-descarga:hover{
    opacity: 0.9;
}
.content-descarga i{
    margin-left: 5px;
}
